@font-face {
    font-family: Electrolize;
    src: url(Electrolize.ttf);
}
html, body{
    font-family: Electrolize, -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: #222C43;
}
body::-webkit-scrollbar {
    width: 0.5rem;
    background-color: black;
}
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
body::-webkit-scrollbar-thumb {
    background-color: #7D7D7D;
}
.frontpage {
    height: 100%;
    background-image: url(MountainRoadFooter.svg), linear-gradient(180deg, #1C4366,#286295,whitesmoke);;
    background-repeat: no-repeat;
    background-position: 50% 101%;
    background-size: contain;
}
.contactbox-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.contactbox {
    position: absolute;
    top: 30%;
    color: white;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    height: 200px;
    background-color: #146850;
    border: 4px solid white;
    box-shadow: 0 0 0 4pt #146850;
    border-radius: 5px;
    line-height: 35px;
}
button {
    background-color: #146850;
    color: white;
    font-weight: bold;
    padding: 5px;
    border: 3px solid white;
    border-radius: 5px;
}
button:hover {
    cursor: pointer;
    background-color: white;
    color: #146850;
}
#signbox {
    position: absolute;
    bottom: 83px;
    width: 42px;
    background-color: black;
    outline: 10px solid black;
    color: white;
    z-index: 1;
}
#arrow-down {
    position: absolute;
    border-left: 20px solid black;
    border-right: 20px solid black;
    border-top: 20px solid white;
    outline: 10px solid black;
    width: 42px;
    bottom: 60px;
}
.projects {
    text-align: center;
    width: 250px;
    margin-top: 30px;
    margin-bottom: 12px;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid black;
    border-radius: 10px;
    box-shadow: 0 0 0 2pt #FFE600;
    padding: 10px;
    font-size: 3rem;
    font-weight: 600;
    color: black;
    background-color: #FFE600;
}
#scrollTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 99;
    border-radius: 4px;
    background-color: #FFE600;
    border: 2px solid black;
    box-shadow: 0 0 0 2pt #FFE600;
    transform: rotate(-45deg);
    
}
#scrollTopBtn:hover {
    background-color: #146850;
    border: 2px solid white;
    box-shadow: 0 0 0 2pt #146850;
}
#scrollTopBtn img{
    transform: rotate(45deg);
    filter: invert(1);
    -webkit-filter: invert(1);
}
#scrollTopBtn img:hover{
    filter: invert(0);
    -webkit-filter: invert(0);
}
.container {
    display: flex;
    flex-wrap: wrap;
}
.zoom-in {
    animation-name: zoom-in-effect;
    animation-duration: 1s;
}
@keyframes zoom-in-effect {
    0% {
        transform: scale(0.1);
    }
    100% {
        transform: scale(1);
    }
}
.child {
    background: #222C43;
    flex: 100%;
    text-align: center;
    border: 25px solid #222C43;
    opacity: 0;
}
.child-text {
    margin-top: 5% !important;
}
h2 {
    font-size: 2rem;
    color: #87CFEA;
}
p {
    font-size: 1.25rem;
    font-weight: 300;
    color: whitesmoke;
}
a {
    color: #286295;
}
.projbox a {
    text-decoration: none;
}
.projbox {
    background-color: black;
    width: 400px;
    height: 250px;
    border-radius: 21px 21px 21px 21px;
    margin-top: 50px !important;
    margin-right: auto !important;
    margin-left: auto !important;
}
.projpic {
    height: 250px;
    width: 400px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}
.projboxinfo {
    font-size: medium;
    color: white;
    cursor: pointer;
    width: auto;
    position: relative;
    top: -65%;
    font-size: 28px;
}
.projboxinfo p {
    display: none;
}
.projbox:hover p{
    background-color: black;
    display: block;
}   
* {
    box-sizing: border-box;
}
@media (min-width: 768px) {
    .child {
        flex: calc(100% / 2);
    }
}
@media only screen and (max-width: 500px) {
    .projpic {
        height: 250px;
        width: 350px;
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
    }
    .projbox {
        width: 350px !important;
    }
    .frontpage {
        background-position: 50% 100%;
    }
    .ross-footer {
        height: 125px;
        width: 125px;
    }
}
@media only screen and (max-width: 901px) {
    .projbox:hover p{
        display: none;
    } 
}
.connect {
    height: 50px;
    width: 45px;
    padding: 5px;
    filter: invert(1);
}
.connect:hover,
.connect:focus {
    padding-top: 0px;
    filter: invert(81%) sepia(10%) saturate(1573%) hue-rotate(162deg) brightness(96%) contrast(91%);
}
footer {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    background-color: black;
    color: whitesmoke;
    margin-left: auto;
    margin-right: auto;
}